.ipynb_checkpoints/*
!.mvn/wrapper/maven-wrapper.jar
!**/core/**/__pycache__/
!**/core/**/.ipynb_checkpoints/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

*.html
core/__pycache__/*

*.html
